#gameplay {
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

#gameplay .gameplay-bg {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

#gameplay .fumo-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.125);
  position: absolute;
  animation: intro-zoom 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards, float 3s ease-in-out infinite 0.7s;
}

#gameplay .fumo-container .fumo-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: spin 6s linear infinite 0.4s;
  transform-origin: center;
}

#gameplay ._ui {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(45deg, transparent 49%, #6d6d6d 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #6d6d6d 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-position: top;
}

.fumo-container:nth-of-type(1) {
  left: 25%;
}

.fumo-container:nth-of-type(2) {
  left: 50%;
}

.fumo-container:nth-of-type(3) {
  left: 75%;
}

#doge-pointer {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 10;
}

#doge-pointer > img {
  width: 100%;
  height: 100%;
  position: inherit;
  object-fit: contain;
}

#doge-pointer ._doge {
  transform: scaleX(-1);
}

#doge-pointer ._stick {
  left: 75%;
  bottom: 5%;
  z-index: 1;
  transform-origin: left bottom;
  transform: rotate(0);
  transition: all 50ms ease-out;
}

#doge-pointer ._bonk-feedback {
  width: 150px;
  opacity: 0;
  left: 165%;
  top: 35%;
  transition: opacity 50ms linear 50ms;
}

#doge-pointer.bonked ._bonk-feedback {
  opacity: 1;
}

#doge-pointer.bonked ._stick {
  transform: rotate(45deg);
  bottom: 15%;
}

@keyframes intro-zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 1;
    filter: blur(12px) brightness(1.2);
  }

  100% {
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  #gameplay .fumo-container {
    width: 125px;
    height: 125px;
  }

  #gameplay ._ui {
    bottom: 0;
    max-width: 700px;
    border-radius: 0 !important;
  }
}
